<div class="author-card">
  <div class="author-thumbnail">
    <img src="<%= author.headshot %>" alt="author image" />
  </div>
  <div class="author-info">
    <h2><%= author.author_name %></h2>
    <h3>
      Birthdate: <%= new Date(author.birth_date).toLocaleDateString("en-us",
      {year: "numeric", month: "long", day: "numeric"}); %>
    </h3>
    <h3>Country: <%= author.birth_country %></h3>
  </div>
</div>
