<div class="genre-card">
  <div class="genre-thumbnail">
    <img src="<%= genre.genre_image %>" alt="author image" />
  </div>
  <div class="genre-info">
    <h2><%= genre.genre_name %></h2>
    <h3><%= genre.genre_description %></h3>
  </div>
</div>
