<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>O.W.L.S</title>
  <link rel="stylesheet" href="/style.css" />
  <div class="title">
    <h1>Online Website Library Search</h1>
  </div>
  <div class="input-box">
    <input
      type="text"
      id="search-criteria"
      name="search-criteria"
      placeholder="Please enter search criteria..."
    />
  </div>
  <div class="search-options">
    <div><button class="search-btn">Search by Title</button></div>
    <div><button class="search-btn">Search by Author</button></div>
    <div><button class="search-btn">Search by Genre</button></div>
  </div>
</head>
