<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/nav.ejs') %>
      <h2 class="page-warning">About Us</h2>
      <p class="about-us-text">
        Welcome to our library, a haven for knowledge seekers and book
        enthusiasts alike. With a rich history dating back decades, we've been
        fostering a love for literature and learning within our community. Our
        shelves are lined with a diverse collection of books spanning various
        genres, from timeless classics to contemporary bestsellers. Beyond our
        extensive book selection, our library serves as a hub of cultural
        exchange and intellectual engagement. From hosting author talks and book
        clubs to providing a tranquil space for quiet study, we are dedicated to
        creating an environment that inspires curiosity and nurtures the joy of
        reading. Our committed staff is here to assist you in your literary
        journey, ensuring you find the resources you seek. Join us as we
        celebrate the written word and embark on new chapters of discovery
        together.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
