<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <%- include('./partials/head.ejs', { genres }) %>
    <div class="content">
      <% if (books.length > 0) { %>
      <h2 class="search-results">Search Results</h2>
      <% books.forEach(book => { %> <%- include('./partials/book.ejs', { book })
      %> <% });} %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
