<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <%- include('./partials/head.ejs') %>
    <div class="error content">
      <h2>No Record Found</h2>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
