<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/nav.ejs') %>
      <h2 class="page-warning">
        Shop feature not yet implemented! Check back soon...
      </h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
