@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Macondo+Swash+Caps&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
  font-family: "Macondo Swash Caps", cursive;
}

.book-card {
  background-color: white;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.book-thumbnail {
  height: 200px;
  width: 50%;
}

.book-thumbnail img {
  object-fit: cover;
  max-height: 300px;
  width: 300px;
}

.book-info {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-head h2 {
  letter-spacing: 2px;
  font-size: 2em;
  color: #a81d1d;
  text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black,
    1px 1px 1px black;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  text-align: center;
  color: white;
}

/* Head Styles */
.title {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 68px;
  -webkit-text-stroke: 1px white;
}

html {
  background-color: #a81d1d;
}

.input-box {
  text-align: center;
  margin: 10px;
}

#search-criteria {
  width: 400px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.search-options {
  display: flex;
  justify-content: center;
}

.search-btn {
  background-color: white;
  margin: 20px;
  padding: 12px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.search-btn:hover {
  text-decoration: underline;
}

/* Nav Styles */
.nav-list {
  display: flex;
  justify-content: center;
  padding: 10px;
}

li {
  list-style-type: none;
}

a {
  color: black;
  margin: 10px;
}

