@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Macondo+Swash+Caps&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
  font-family: "Macondo Swash Caps", cursive;
}

.ui-wrapper,
.nav-wrapper {
  background-color: #463708dc;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("/images/graphics/backgroundimage.jpg");
  background-attachment: fixed;
}

.book-card,
.author-card,
.genre-card {
  background-color: rgb(118, 184, 202);
  border: 4px solid antiquewhite;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: space-between;
}

.author-card,
.genre-card {
  background-color: #117385;
  color: antiquewhite;
}

.book-thumbnail,
.author-thumbnail,
.genre-thumbnail {
  height: 200px;
  width: 50%;
}

.book-thumbnail img,
.author-thumbnail img,
.genre-thumbnail img {
  object-fit: cover;
  max-height: 300px;
  width: 300px;
}

.author-display,
.genre-display {
  width: 100%;
  display: flex;
  justify-content: center;
}

.author-info {
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5em;
  color: antiquewhite;
  text-shadow: -1px -1px 1px #463608, 1px -1px 1px #463608, -1px 1px 1px #463608,
    1px 1px 1px #463608;
  margin: 0 0 0 10px;
}

.book-info,
.genre-info {
  height: 300px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-head h2 {
  letter-spacing: 2px;
  font-size: 2em;
  color: antiquewhite;
  text-shadow: -1px -1px 1px #463608, 1px -1px 1px #463608, -1px 1px 1px #463608,
    1px 1px 1px #463608;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 55vh;
}

.search-results {
  text-align: center;
  color: antiquewhite;
  text-shadow: -1px -1px 1px #463608, 1px -1px 1px #463608, -1px 1px 1px #463608,
    1px 1px 1px #463608;
}

/* Head Styles */
.title {
  display: flex;
  justify-content: center;
}

.db-declare {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 0.7em;
}

h1 {
  font-size: 68px;
  -webkit-text-stroke: 1px antiquewhite;
}

html {
  background-color: #463608;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-box {
  text-align: center;
  margin: 10px;
}

#searchInput {
  width: 400px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.search-option-wrapper {
  display: inline;
  margin-top: 10px;
}

.search-options {
  display: flex;
  justify-content: center;
}

.search-btn {
  color: black;
  background-color: antiquewhite;
  margin: 20px;
  padding: 12px;
  border: 2px solid #463608;
  border-radius: 25px;
  box-shadow: 5px 4px 4px 0px #463608;
  cursor: pointer;
}

.search-buttons {
  width: 135px;
}
.search-btn:hover {
  text-decoration: underline;
}

/* Nav Styles */
.nav-list {
  display: flex;
  justify-content: center;
  padding: 10px;
}

li {
  list-style-type: none;
}

a {
  color: antiquewhite;
  text-decoration: none;
  margin: 10px;
}

/* Login Styles */

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  max-width: 600px;
  margin: auto;
  height: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 15px #463608;
  padding-top: 20px;
  margin-top: 20px;
}

.login-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  max-width: 600px;
  margin: auto;
  height: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 15px #463608;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 1000px;
}

.login-h1 {
  color: antiquewhite;
  -webkit-text-stroke: 1px #463608;
  margin-bottom: 15px;
}

.login-btn {
  width: 70px;
}

/* Welcome Message */

.welcome-message {
  text-align: center;
  color: antiquewhite;
  text-shadow: -1px -1px 1px #463608, 1px -1px 1px #463608, -1px 1px 1px #463608,
    1px 1px 1px #463608;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer Styles */

.footer {
  background-color: rgb(118, 184, 202);
  padding: 20px;
}

.message {
  background-color: #463608;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: antiquewhite;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
}

.logo img {
  width: 150px;
  height: auto;
  padding-top: 10px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: antiquewhite;
}

.newsletter,
.quick-links,
.social-media,
.event-registration {
  background-color: #117385;
  padding: 10px;
  margin-right: 10px;
  color: antiquewhite;
}

.input[type="email"] {
  width: 100%;
  padding: 5 px;
  margin-bottom: 10px;
}

.button {
  background-color: #463608;
  color: antiquewhite;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.book-request {
  background-color: #463608;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  color: antiquewhite;
}

.about-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.page-warning {
  background-color: antiquewhite;
  text-align: center;
  margin-top: 50px;
  padding: 25px;
}

.about-us-text {
  background-color: antiquewhite;
  text-align: center;
  padding-bottom: 25px;
}

.error {
  color: antiquewhite;
  /* border: pink solid 1px; */
  display: flex;
  align-content: center;
  justify-content: center;
}
